PORT=3000
NODE_ENV=production
JWT_SECRET=61020d119937b186a1e6561b0a699f819dccd243e10eb7512c15c1da8675a00f

DATABASE_URL=""

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
